[[source]]
name = "ns-letsencrypt"
url = "https://github.com/sideshowcecil/ns-letsencrypt"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
dataclasses = "*"
typing = "*"
nitro-python = {path = "./nitro-python"}

[requires]
python_version = "3.6"
